

<div class="contact">

    <form id="contact_form">
        <div class="contact__input">
            <input name="name" id="name" type="text" placeholder="Nom" required>
        </div>
        <div class="contact__input">
            <input name="email" id="email" type="email" placeholder="Email" required>
        </div>

        <div class="contact__input-text-area">
            <textarea name="content" required id="content" cols="30" rows="10" placeholder="Message ..."></textarea>
        </div>

        <button class="contact__btn" >Envoyer</button>
    </form>
</div>