
<!--

<div class="footer">

    <div class="footer__left">
        <img src="/images/icone2.jpg" alt="naif_icon">
        <a class="<%- current_url === "bio" ? "active_link" : "" %>" href="/bio">Bio</a>
        <a class="<%- current_url === "contact" ? "active_link" : "" %>" href="/contact">Contact</a>
        <a href="">Oauvres</a>
    </div>

    <div class="footer__right">
        <a href="https://www.instagram.com/naif.man/?hl=fr" target="_blank">
            <img src="/images/instagram.svg" alt="">
        </a>
    </div>
</div>
-->

<div class="naif__footer">




    <!-- Footer -->
    <footer class="text-center text-lg-start text-muted">
        <!-- Section: Social media -->
        <section
                class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
        >
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start">
                <!-- Grid row -->
                <div class="row mt-4">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 d-flex align-items-center justify-content-center  mx-auto mb-4">
                        <!-- Content -->

                        <div class="naif__footer__title">
                            <a href="/">
                            <img src="/images/icone2.jpg" id="naif_logo" alt="naif_icon">
                            <img src="/images/logot_naif_mini.jpg" id="naif_logo_title" alt="logo_naïf">
                            </a>
                        </div>


                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 d-flex justify-content-center align-items-center mx-auto mb-4">
                        <!-- Links -->
                        <div class="row">
                            <div class=" naif__footer__sitemap col-sm-12 d-flex">
                                    <a href="#!" class="text-reset">Home</a>
                                    <a href="#!" class="text-reset">Bio</a>
                                    <a href="#!" class="text-reset">Peintures</a>
                            </div>

                        </div>


                    </div>
                    <!-- Grid column -->

                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto align-items-center justify-content-center d-flex flex-column  mb-4">
                        <!-- Links -->
                        <div class="d-flex footer__contact__box align-items-center">
                            <a href="https://www.instagram.com/naif.man/?hl=fr" target="_blank" class=" text-reset">
                                <i id="instagram_icone" class="fab fa-instagram"></i>
                            </a>
                            <a href="/contact">
                                <i class="fas fa-envelope"></i>
                            </a>
                        </div>

                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © <%- new Date().getFullYear();%> Copyright:
            <a class="text-reset fw-bold">naïf.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

</div>