<div class="footer">

    <div class="footer__left">
        <img src="/images/icone2.jpg" alt="naif_icon">
        <a class="<%- current_url === "bio" ? "active_link" : "" %>" href="/bio">Bio</a>
        <a class="<%- current_url === "contact" ? "active_link" : "" %>" href="/contact">Contact</a>
        <a href="">Oauvres</a>



    </div>

    <div class="footer__right">
        <a href="https://www.instagram.com/naif.man/?hl=fr" target="_blank">
            <img src="/images/instagram.svg" alt="">
        </a>


    </div>



</div>