
<div class="naif__footer">
    <footer class="text-center text-lg-start text-muted">

        <section
                class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
        >
        </section>
        <section class="">
            <div class="container text-center text-md-start">
                <div class="row mt-4">
                    <div class="col-md-3 col-lg-4 col-xl-3 d-flex align-items-center justify-content-center  mx-auto mb-4">
                        <div class="naif__footer__title">
                            <a href="/">
                                <img src="/images/icone2.jpg" id="naif_logo" alt="naif_icon">
                                <img src="/images/logot_naif_mini.jpg" id="naif_logo_title" alt="logo_naïf">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 d-flex justify-content-center align-items-center mx-auto mb-4">
                        <div class="row">
                            <div class=" naif__footer__sitemap col-sm-12 d-flex">
                                <a href="/" class="text-reset">Home</a>
                                <a href="/illustrations" class="text-reset">Illustrations</a>
                                <a href="/murals" class="text-reset">Murals</a>
                                <a href="/bio" class="text-reset">Canvas</a>
                                <a href="/bio" class="text-reset">Bio</a>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto align-items-center justify-content-center d-flex flex-column  mb-4">
                        <!-- Links -->
                        <div class="d-flex footer__contact__box align-items-center">
                            <a href="https://www.instagram.com/naif.man/?hl=fr" target="_blank" class=" text-reset">
                                <i id="instagram_icone" class="fab fa-instagram"></i>
                            </a>
                            <a href="/contact">
                                <i class="fas fa-envelope"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © <%- new Date().getFullYear();%> Copyright:
            <a class="text-reset fw-bold">naïf.com</a>
        </div>
    </footer>
</div>