<div class="navbar">
    <div class="navbar__logo">
        <a href="/">
        <img src="/images/naif-page-001%20nb.jpg" alt="logo_naïf">
        </a>
    </div>

    <div class="navbar__menu">
        <a class="<%- current_url === "bio" ? "active_nav_link" : "" %>" href="/bio">Bio</a>
        <a class="<%- current_url === "contact" ? "active_nav_link" : "" %>" href="/contact">Contact</a>
        <a href="#">Oeuvres</a>
    </div>

</div>