<div class="navbar">
    <div class="navbar__logo">
        <a href="/">
        <img src="/images/naif-page-001%20nb.jpg" alt="logo_naïf">
        </a>
    </div>

    <div class="navbar__menu">
        <a href="/bio">Bio</a>
        <a href="/contact">Contact</a>
        <p>Oeuvres</p>
    </div>

</div>