<!DOCTYPE html>
<html>
<head>
    <title>Canvas</title>
    <%- include ('partials/header.ejs') %>
    <!-- Script apparition images -->
    <script>
        const chargementImage = (target) => {
            console.log(target.parentElement)
            target.parentElement.style.transition="opacity 2.5s ease"
            target.parentElement.style.opacity ="1"
        }
    </script>
</head>
<body>

<%- include ('partials/navbar.ejs') %>

<div class="container">
    <div class="index__image">
        <div class="img_item_container">
            <img onload="chargementImage(this)" style="width: 100%" src="/images/canvas1.jpg" alt="">
            <div class="img_item_title">
                <h5>Sans titre</h5>
                <p>acrylique sur toile 116x81 cm</p>
            </div>
        </div>
        <div class="img_item_container">
            <img onload="chargementImage(this)" style="width: 100%;" src="/images/canvas2.jpg" alt="">
            <div class="img_item_title">
                <h5>Je te regarde comme je regarde une plante</h5>
                <p>acrylique sur toile 65x54 cm</p>
            </div>
        </div>
        <div class="img_item_container">
            <img onload="chargementImage(this)" style="width: 100%" src="/images/canvas3.jpg" alt="">
            <div class="img_item_title">
                <h5>Fonds galactiques</h5>
                <p>acrylique sur toile 100x80 cm</p>
            </div>
        </div>
        <div class="img_item_container">
            <img onload="chargementImage(this)" style="width: 100%" src="/images/canvas4.jpg" alt="">
            <div class="img_item_title">
                <h5>Culture qui nie sa nature</h5>
                <p>acrylique sur toile 61x50 cm</p>
            </div>
        </div>
        <div class="img_item_container">
            <img onload="chargementImage(this)" style="width: 100%" src="/images/canvas6.jpg" alt="">
            <div class="img_item_title">
                <h5>terre féminine</h5>
                <p>acrylique sur toile 110x90 cm</p>
            </div>
        </div>







    </div>
</div>



<%- include ('partials/footer.ejs') %>
<!-- protection des images -->
<script>
    const allImage =  document.querySelectorAll("img");
    allImage.forEach( (image) => {
        image.addEventListener('contextmenu', event => event.preventDefault());
    })
</script>
</body>
</html>
