<!DOCTYPE html>
<html>
<head>
    <title>Illustrations</title>
    <%- include ('partials/header.ejs') %>
    <!-- Script apparition images -->
    <script>
        const chargementImage = (target) => {
            console.log(target.parentElement)
            target.parentElement.style.transition="opacity 2.5s ease"
            target.parentElement.style.opacity ="1"
        }
    </script>
</head>
<body>

<%- include ('partials/navbar.ejs') %>

<div class="container">
    <div class="index__image">
        <div class="img_item_container">
            <img onload="chargementImage(this)" src="/images/pageillu1.jpg" alt="">
            <div class="img_item_title">
                <h5>Forêt</h5>
                <p>illustration numérique</p>
            </div>
        </div>
        <div class="img_item_container">
            <img onload="chargementImage(this)"  src="/images/pageillu2.jpg" alt="">
            <div class="img_item_title">
                <h5>Mains magiques</h5>
                <p>illustration numérique</p>
            </div>
        </div>
        <div class="img_item_container">
            <img onload="chargementImage(this)"  src="/images/pageillu3.jpg" alt="">
            <div class="img_item_title">
                <h5>Gardiens</h5>
                <p>illustration numérique</p>
            </div>
        </div>
        <div class="img_item_container">
            <img onload="chargementImage(this)"  src="/images/pageillu5.jpg" alt="">
            <div class="img_item_title">
                <h5>Typographie Wakanda</h5>
                <p>illustration numérique</p>
            </div>
        </div>
        <div class="img_item_container">
            <img onload="chargementImage(this)"  src="/images/pageillu8.jpg" alt="">
            <div class="img_item_title">
                <h5>Mutualisme grand indicateur/humain</h5>
                <p>illustration numérique</p>
            </div>
        </div>
        <div class="img_item_container">
            <img onload="chargementImage(this)"  src="/images/pageillu7.jpg" alt="">
            <div class="img_item_title">
                <h5>Sol invictus</h5>
                <p>illustration numérique</p>
            </div>
        </div>







    </div>
</div>



<%- include ('partials/footer.ejs') %>
<!-- protection des images -->
<script>
    const allImage =  document.querySelectorAll("img");
    allImage.forEach( (image) => {
        image.addEventListener('contextmenu', event => event.preventDefault());
    })
</script>
</body>
</html>
