<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <%- include ('partials/header.ejs') %>
  </head>
  <body>

  <%- include ('partials/navbar.ejs') %>

  
  <div>
    <img style="width: 100%" src="/images/main_photo.jpg" alt="">
  </div>


  <%- include ('partials/footer.ejs') %>
  <%- include ('partials/font_test.ejs') %>

  </body>
</html>
