.naif__footer
  margin-top: auto
  padding-top: 5rem
  #naif_logo
    width: 3rem
  #instagram_icone
    font-size: 2rem
    &:hover
      opacity: 0.5
      transition: opacity 0.3s ease
  .naif__footer__title
    #naif_logo
     height: 2rem
     width: auto
    #naif_logo_title
      height: 2.5rem
      margin-left: 0.5rem

  .naif__footer__sitemap
    a
      margin: 0 1rem

  .footer__contact__box
    width: fit-content
    .fa-envelope
      margin-left: 2rem
      text-decoration: none
      color: #757575
      font-size: 2rem
      &:hover
        opacity: 0.5
        transition: opacity 0.3s ease