body {
  margin: unset;
  font-family: 'Roboto Condensed', sans-serif; }

a {
  color: #00B7FF; }

.navbar {
  height: 7rem;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between; }
  .navbar .navbar__logo img {
    height: 7rem; }
  .navbar .navbar__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    .navbar .navbar__menu a {
      margin: 0 2rem;
      font-size: 1.5rem;
      text-decoration: none;
      color: black;
      height: fit-content; }
      .navbar .navbar__menu a.active_nav_link {
        opacity: 0.5; }
      .navbar .navbar__menu a:hover {
        opacity: 0.5;
        cursor: pointer;
        transition: opacity 0.3s ease; }

.bio {
  padding: 5rem 10rem;
  display: flex;
  justify-content: space-between; }
  .bio img {
    width: 55rem; }
  .bio .bio__texte {
    padding: 3rem 6rem;
    display: flex;
    align-items: center; }
    .bio .bio__texte p {
      font-size: 1.3rem; }

.contact__bloc {
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 5rem; }
  .contact__bloc .contact__image {
    transform: rotate(-17deg); }
    .contact__bloc .contact__image img {
      width: 100%;
      transform: translate(225px, 110px); }

.contact {
  position: absolute;
  left: 23rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content; }
  .contact .contact__input {
    margin: 2rem 0;
    height: 3rem;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0px 4px 0px #00000036; }
    .contact .contact__input input {
      border: unset;
      padding-left: 1rem;
      outline: none;
      width: 100%;
      height: 100%; }
  .contact .contact__input-text-area {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0px 4px 0px #00000036; }
    .contact .contact__input-text-area textarea {
      outline: none;
      border: unset;
      padding: 1rem;
      height: 100%; }
  .contact .contact__btn {
    outline: none;
    border: unset;
    border-radius: 8px;
    margin: 2rem 0;
    padding: 1rem 1.5rem;
    background-color: #E35364;
    color: white; }
    .contact .contact__btn:hover {
      opacity: 0.7;
      cursor: pointer;
      transition: opacity 0.3s ease; }

.footer {
  border-top: 2px dotted #0000002b;
  padding: 3rem 20rem;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer .footer__left {
    display: flex;
    align-items: center; }
    .footer .footer__left img {
      width: 3rem;
      margin-right: 1rem; }
    .footer .footer__left a {
      margin: 0 1rem;
      text-decoration: none;
      color: black; }
      .footer .footer__left a.active_link {
        opacity: 0.5;
        font-size: 1.5rem; }
      .footer .footer__left a:hover {
        opacity: 0.5;
        transition: opacity 0.3s ease;
        cursor: pointer; }
  .footer .footer__right img {
    width: 3rem; }
  .footer .footer__right a:hover {
    opacity: 0.5;
    transition: opacity 0.3s ease; }

/*# sourceMappingURL=style.css.map */