body {
  margin: unset;
  font-family: 'Roboto', sans-serif;
  min-height: 102vh;
  display: flex;
  flex-direction: column; }

@media (max-width: 600px) {
  .index__container {
    padding-top: 3rem; } }

a {
  color: #00B7FF; }

@media (max-width: 892px) {
  .navbar__desktop {
    display: none; } }

.navbar__mobile {
  z-index: 50;
  position: fixed;
  top: 0;
  width: 100%; }
  .navbar__mobile a {
    color: black; }
    .navbar__mobile a.active_link {
      opacity: 0.4; }
  @media (min-width: 891px) {
    .navbar__mobile {
      display: none; } }
  .navbar__mobile img {
    height: 1.8rem; }
  .navbar__mobile .menu_links_burger a {
    font-weight: 300;
    font-size: 1.5rem; }

.navbar__component {
  background-color: white;
  z-index: 50;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  overflow: hidden; }
  .navbar__component .navbar__logo img {
    height: 8rem; }
  .navbar__component .navbar__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    .navbar__component .navbar__menu #instagram_icone {
      font-size: 2.3rem; }
    .navbar__component .navbar__menu a {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      margin: 0 1.7rem;
      font-size: 1.4rem;
      text-decoration: none;
      color: black;
      height: fit-content; }
      @media (max-width: 1140px) {
        .navbar__component .navbar__menu a {
          margin: 0 0.5rem; } }
      .navbar__component .navbar__menu a.active_nav_link {
        opacity: 0.5; }
      .navbar__component .navbar__menu a:hover {
        opacity: 0.5;
        cursor: pointer;
        transition: opacity 0.3s ease; }

.bio {
  margin-top: 5rem;
  margin-bottom: 5rem; }
  .bio img {
    width: 72%; }
  .bio .bio__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; }
    @media (max-width: 600px) {
      .bio .bio__text {
        margin-top: 1rem; } }
    .bio .bio__text h3 {
      margin-bottom: 2rem; }
  .bio .bio__image {
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .bio .bio__image img {
      opacity: 0; }
  .bio .bio__expo {
    margin-top: 8rem;
    padding-left: 5rem; }
    @media (max-width: 600px) {
      .bio .bio__expo {
        padding-left: 1rem;
        margin-top: 3rem; } }
    .bio .bio__expo mark {
      background-color: unset;
      padding: unset;
      font-size: 1.5rem;
      font-weight: 200;
      margin-right: 1rem; }

.contact__bloc {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column; }
  @media (max-width: 600px) {
    .contact__bloc {
      margin-top: 5rem; } }
  .contact__bloc .contact__image img {
    opacity: 0;
    width: 35rem; }
    @media (max-width: 600px) {
      .contact__bloc .contact__image img {
        width: 19rem; } }

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content; }
  .contact .contact__input {
    margin: 2rem 0;
    height: 3rem;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0px 4px 0px #00000036; }
    .contact .contact__input input {
      border: unset;
      padding-left: 1rem;
      outline: none;
      width: 100%;
      height: 100%; }
  .contact .contact__input-text-area {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0px 4px 0px #00000036; }
    .contact .contact__input-text-area textarea {
      outline: none;
      border: unset;
      padding: 1rem;
      height: 100%; }
  .contact .contact__btn {
    outline: none;
    border: unset;
    border-radius: 8px;
    margin: 2rem 0;
    padding: 1rem 1.5rem;
    background-color: #E35364;
    color: white; }
    .contact .contact__btn:hover {
      opacity: 0.7;
      cursor: pointer;
      transition: opacity 0.3s ease; }

.naif__footer {
  margin-top: auto;
  padding-top: 5rem; }
  .naif__footer #naif_logo {
    width: 3rem; }
  .naif__footer #instagram_icone {
    font-size: 2rem; }
    .naif__footer #instagram_icone:hover {
      opacity: 0.5;
      transition: opacity 0.3s ease; }
  .naif__footer .naif__footer__title #naif_logo {
    height: 2rem;
    width: auto; }
  .naif__footer .naif__footer__title #naif_logo_title {
    height: 2.5rem;
    margin-left: 0.5rem; }
  .naif__footer .naif__footer__sitemap a {
    margin: 0 1rem 1rem 1rem; }
  .naif__footer .footer__contact__box {
    width: fit-content; }
    .naif__footer .footer__contact__box .fa-envelope {
      margin-left: 2rem;
      text-decoration: none;
      color: #757575;
      font-size: 2rem; }
      .naif__footer .footer__contact__box .fa-envelope:hover {
        opacity: 0.5;
        transition: opacity 0.3s ease; }

.flash_message {
  width: 100%;
  height: 5rem;
  background-color: #606060;
  position: fixed;
  bottom: -5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: bottom 0.5s ease; }
  .flash_message p {
    font-weight: bold;
    color: #e6e6e6;
    margin: unset; }
  .flash_message.active_message {
    bottom: 0;
    transition: bottom 0.5s ease; }

.index__image {
  padding: 0 10rem;
  margin-top: 2rem; }
  @media (max-width: 600px) {
    .index__image {
      padding: unset; } }
  .index__image .img_item_container {
    opacity: 0; }
    .index__image .img_item_container .img_item_title {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .index__image .img_item_container .img_item_title p {
        color: #808080b5; }
    .index__image .img_item_container img {
      -moz-user-select: -moz-none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;
      user-select: none;
      width: 100%;
      margin: 4rem 0 1.5rem 0; }

/*# sourceMappingURL=style.css.map */